h1{
    color:whitesmoke;
}

h2{
    text-align: center;
}

h10{
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
}

h11{
    font-weight: bold;
}

h12{
    font-style: italic;
}

